{% extends "ind.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %}
        Как играть
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
    <main class="main">
            <section class="hero">
                <div class="container container__aside">
                    <div class="container__hero">
                        <h1 class="title">Сообщество</h1>
                        <a href="/post">+</a>
                    </div>
                    <div class="aside">
                        <img src="https://preview.free3d.com/img/2016/07/2374218859876975984/skuo6ybq.jpg">
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container"></div>
            </section>
    </main>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}