{% extends "ind.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %}
        Как играть
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
    <main class="main">
            <section class="hero">
                <div class="container container__aside">
                    <div class="container__hero">
                        <h1>Скачать сборку для нашего сервера</h1>
                        <p>Ccылка на яндекс диск:
                            <a href="">Сборка</a>
                        </p>
                        <p>Ссылка на скачивание
                            <a href="">Cборка</a>
                        </p>
                    </div>
                    <div class="aside">
                        <img src="" width="500" height="250">
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container"></div>
            </section>
    </main>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}