{% extends "ind.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %}
        Как играть
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
    <main class="main">
            <section class="hero">
                <div class="container container__aside">
                    <div class="container__hero">
                        <h1>Ой, кажется ты попал не туда</h1>
                        <h2><a href="/">На главную</a></h2>
                    </div>
                    <div class="aside">
                        <img src="../static/img/Bey.png" width="500" height="250">
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container"></div>
            </section>
    </main>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}