{% extends "ind.html" %}

   {% block head %}
      {{ super() }}
   {% endblock %}

   {% block title %}
      Логин
   {% endblock %}

   {% block hat %}
      {{ super() }}
   {% endblock hat %}

   {% block main %}
      <h1>Войдите в аккаунт чтобы сыграть</h1>
{% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
         {% endfor %}
      <form action="/login" method="post" class="login">
         <div class="box">
            <p><input maxlength="25" name="login" class="texto" placeholder="Ник"></p>
            <p><input type="password" maxlength="25" name="password" class="texto" placeholder="Пароль"></p>
            <p><input type="submit" value="Войти" class="btn-new"></p>
            <p><a href="/reg">Нет аккаунта? Зарегистрируй!</a></p>
         </div>

      </form>
   {% endblock %}

   {% block footer %}
      {{ super() }}
   {% endblock %}
