{% extends "ind.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %}
        Как играть
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
    <main class="main">
            <section class="hero">
                <div class="container container__aside">
                    <div class="container__hero">
                        <h1 class="title">Добавь свой пост</h1>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <p><input type="file" name="file"></p>
                            <p><textarea name="textarea" class="text"></p>
                            <p><input type="submit" value="Запостить" class="btn-new"></p></form>
                    </div>
                    <div class="aside">
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container"></div>
            </section>
    </main>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}