{% extends "ind.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %}
        Как играть
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
    <main class="main">
            <section class="hero">
                <div class="container container__aside">
                    <div class="container__hero">
                        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}
                        <h1 class="title">Добавь свой пост</h1>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            {{ form.image() }}
                            {{ form.description(class="texto") }}
                            {{ form.submit(class="btn-new") }}
                        </form>
                    </div>
                    <div class="aside">
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container"></div>
            </section>
    </main>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
