{% extends "ind.html" %}

   {% block head %}
      {{ super() }}
   {% endblock %}

   {% block title %}
      Логин
   {% endblock %}

   {% block hat %}
      {{ super() }}
   {% endblock hat %}

   {% block main %}
      <h1>Регистрация</h1>
{% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
         {% endfor %}
      <form action="/reg" method="post" class="login">
         <div class="box">
            {{ form.hidden_tag() }}
            <p>{{ form.login() }}</p>
            <p>{{ form.password() }}</p>
            <p>{{ form.password_2}}</p>
            <p>{{ form.submit() }}</p>
         </div>

      </form>
   {% endblock %}

   {% block footer %}
      {{ super() }}
   {% endblock %}