{% extends "ind.html" %}

    {% block head %}
        {{ super() }}
    {% endblock %}
    {% block title %}
        Поддержка
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
        <h1>Что-то пошло не так? Свяжитесь с нами!</h1>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="/tech" method="post" class="login">
        {{ form.hidden_tag() }}
        <p>
        {{ form.login(class="texto", placeholder="Ваше имя") }}
        </p>
        <p>
        {{ form.email(class="texto", placeholder="Ваша почта") }}
        </p>
        <p>
        {{ form.textarea(class="text", placeholder="Опишите проблему") }}
        </p>
        {{ form.submit(class="btn-new") }}
        </form>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
