{% extends "ind.html" %}

    {% block head %}
        {{ super() }}
    {% endblock %}
    {% block title %}
        Поддержка
    {% endblock %}

    {% block hat %}
        {{ super() }}
    {% endblock hat %}

    {% block main %}
        <h1>Что-то пошло не так? Свяжитесь с нами!</h1>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="/tech" method="post" class="tech">
            <p>
                    <input class="texto" type="text" name="name" placeholder="Ваше имя"></p>

            <p>
                    <input class="texto" type="email" name="email" placeholder="Ваша почта"></p>
                    <textarea class="text" name="comment" placeholder="Опишите проблему"></textarea>

            <p><button class="btn-new" type="submit"> Отправить </button></p>
        </form>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
